.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}
.app_header form {
  width: 40%;
}
.task_input::placeholder {
  color: #686868;
}
.task_input {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 200;
  background: #f9f9f9;
  color: #000;
  padding: 8px 12px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #dfe3e6;
}
.task_form_buttom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_status {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #999;
  width: 120px;
  height: 40px;
  padding: 0 5px;
}
.task_submit {
  font-size: 16px;
  font-weight: 500;
  background-color: #6457f9;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  padding: 3px 13px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
