.app {
  display: grid;
  grid-template-rows: 120px auto;
}
.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.task_column {
  width: 33%;
  background-color: orange;
  margin: 20px;
}
